body{
    background-color:#3A3A3A;
}

p 
{
    color:blueviolet;
    font-size: 30px;
}


/*slektor id*/

#par
{
    color: aqua;
    font-size: 20px;
}


.lor
{
    color:aquamarine;
    font-size: 20px;
    }


/* łączenie selktorów */
a,span,div
{
    color:antiquewhite;
    font-size: 20px;
    
}


/*slektor bezpośredniego elemntu potomnego */

li > a
{
    color:azure;
    font-size: 20px;
}

/* slektor elemntów potomnych */
div a
{ 
    color:bisque;
    font-size: 20px;
    }
/* slektor bliskiego rodzeńsrwa */

h2 + h3
{
    color:aquamarine;
    font-size: 20px;
}

/* slektor rodzeństwa */

h4 ~ p
{ color:blanchedalmond;
    font-size: 20px;
}

/* slektor wykluczający */
 ul > li:not(.last)
{ 
    color:chartreuse;
}

/* selektor kolejnego elementu potomnego */

ul > ol:nth-child(2n+0)
{ color: darkcyan;
   
}

/* 2n+0 -zaznacza parzyste*/
/* licznik elementó od 0 */
/* zaznzczenie parzystych- 2n+0 lub nth-child(odd) */

/* An+B
 gdzie:
A-dowolna liczna
B-dowlona liczna
n-licznik od 0

even/odd
even-parzyste
odd-nieparzyste */







