body{
    background-color:#3A3A3A;
}


p 
{
    color:blueviolet;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    border: solid aqua;
    padding: 10px;
}

/*slektor id*/

#par
{
    color: aqua;
    margin-left: 100px;
    margin-right: 100px;
    border: solid pink;
    font-size:30px;
    padding:10px;
}

.lor
{
    color:aquamarine;
    margin-left: 100px;
    margin-right: 100px;
    border: dotted aqua;
    font-size: 30px;
    padding: 10px;
    }
a,span,div
{
    color:antiquewhite;
    font-size: 30px;
    
    
}

/*slektor bezpośredniego elemntu potomnego */

li > a
{
    color:azure;
    font-size: 30px;
    
}

div a
{ 
    color:bisque;
    font-size: 20px;
    }
/* slektor bliskiego rodzeńsrwa */

h2 + h3
{
    color:aquamarine;
    font-size: 20px;
}












